@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-expand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin abs-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin common-triangle {
  width: 0;
  height: 0;
  border-color: #b6b8be transparent transparent;
  border-style: solid;
  border-width: 6px 4px 0;
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin padding-reset-x {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-reset-x {
  @include padding-reset-x;
}

@mixin txt-btn-color($color) {  // 只有文字的連結、按鈕
  color: $color;
  cursor: pointer;

  &:not(.disabled):hover {
    @if type_of($color) == color {
      color: darken($color, 8%);
    }
  }

  &:not(.disabled):active {
    @if type_of($color) == color {
      color: darken($color, 25%);
    }
  }
}

// 手機版底部的下一步按鈕樣式組合 -- start
$bottom-next-step-btn-padding-y: 15px;
$bottom-next-step-btn-height: 40px; // 使用 DButton 預設高度為 40px
$bottom-next-step-btn-container-space:
 $bottom-next-step-btn-padding-y * 2 + $bottom-next-step-btn-height; // 防止底部資訊被底部按鈕遮住(手機版鍵盤出現時)

@mixin bottom-next-step-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $bottom-next-step-btn-padding-y;
  background: #fff;
}

// 手機版底部的下一步按鈕樣式組合 -- end

.is-btn {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

.text-win {
  color: var(--positive-color);
}

.text-lose {
  color: var(--negative-color);
}

.side-show-right {
  transform: translateX(-260px);
}
