$primary-color: #096fc9;
$second-color: #096fc999;
$border-color: #f5f5f5;
$higher-color: #0aaf72;
$lower-color: #f53838;
$input-bg-color: #f5f5f5;
$dialog-color: #fff;
$dialog-title-color: #080d20;
$text-color: #333;
$link-color: #0090ff;

$disabled-bg: #f5f5f5;
$disabled-color: rgba(0, 0, 0, 0.25);
$disabled-border: #d9d9d9;

$btn-primary-bg: #096fc9;
$btn-primary-color: #fff;
$btn-cancel-bg: #dfdfdf;
$btn-cancel-color: #080d20;
$btn-inactive-bg: #f8f8f8;
$btn-inactive-color: #afafaf;

$button-color: #096fc9;
$button-disabled-color: rgba(9, 111, 201, 0.5);
$hover-button-color: linear-gradient(180deg, #e5b95f 0%, #5b4122 100%);

$z-header-index: 10;
$z-footer-index: 10;

$header-height: 48px;
$footer-height: 50px;
$z-game-search-index: 20;
$z-loading-index: 30;

$mainGap: 15px;

$animation-duration-base: 0.3s;

$font-s: 12px;
