* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a {
  color: initial;
  text-decoration: none
}

input:focus {
  outline: none
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html {
  font-family: Open Sans, Regular;
  height: 100%;
  font-size: 16px
}

body {
  margin: 0 auto;
  position: relative;
  background-size: 100%;
  background: #fff;
  height: 100%
}

h2 {
  font-size: 100px;
  margin: 17px 0;
  color: #ec4c52;
}

#text1 {
  margin-top: 0;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  margin: 32px 0 66px;
}

h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

.pc {
  background-image: url('./pc-bg.png');
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  white-space: nowrap;
}

.d-none {
  display: none;
}

.no-service {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1400px
}

.full-img {
  max-width: 100%;
  height: auto
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 60px
}

.view-maintain {
  width: 754px;
}

.view-maintain #pc-img1 {
  width: 100%;
}

.view .view-desc {
  margin-left: 35px;
}

.desc {
  text-align: center
}

.desc .desc-bd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
}

#pc-text1, #pc-text2 {
  color: #df4d53;
}

.desc .desc-ft {
  margin-top: 25px
}

.logo {
  width: 238.69px;
}

.service {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  padding: 5px 15px;
  color: #fff;
  border-radius: 16px;
  background: #11b086;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24)
}

.service .service-text {
  margin-left: 10px
}

.index {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll
}

.maintain-content {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.maintain-content #text2,
.maintain-content #text3 {
  margin-top: 25px;
}

.maintain-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
}

.maintain-time {
  margin-top: 15px;
  font-size: 12px;
}

.logo-img {
  display: flex;
  margin: 60px auto 0;
  width: 160px;
  height: 30px;
}

.maintain-bg {
  margin-top: 10px;
}

.maintain-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px
}

.maintain-content #mobile-text2,
.maintain-content #mobile-text3 {
margin-top: 25px;
}

.maintain-info .message-content .maintain-message {
  width: 300px;
  height: 211px
}

.maintain-info .message-content .icon-fix {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 75px;
  height: 75px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.maintain-info .btn-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 120px;
  height: 32px;
  margin-top: 30px;
  padding: 0 10px;
  background: #11b086;
  border-radius: 16px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  color: #fff
}

.maintain-info .btn-service img {
  width: 25px;
  height: 25px;
  margin-right: 5px
}

.maintain-time {
  margin-top: 20px;
  text-align: center
}

.mobile-logo {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 124px;
  height: 26px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}


/*# sourceMappingURL=all.min.css.map */

@media all and (max-width: 956px) {
  h2 {
    font-size: 38px;
    margin: 5px 0;
  }

  h3 {
    font-size: 11px;
    color: #ec4c52;
    margin: 12px 0 25px;
  }

  h4 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .view {
    flex-direction: column;
  }

  .view .view-desc {
    margin-left: 0;
  }

  .space {
    flex-direction: column;
  }

  .pc {
    background-image: url('./mobile-bg.png');
  }

  .no-service {
    min-width: unset;
  }

  .view-maintain {
    width: 309px;
    margin-top: 0;
  }

  #pc-text1, #pc-text2 {
    color: #000;
  }

  .desc .desc-bd {
    margin-top: 13px;
  }

  .logo {
    width: 91px;
  }
}

@media all and (max-width: 320px) {
  .desc .desc-bd {
    margin-top: 0px;
  }

  .view-maintain {
    width: 300px;
  }
  
  h2 {
    font-size: 30px;
  }

  h3 {
    margin: 10px 0 20px;
  }
}
